#options {
  padding: 20px;
  div,span,button,a,input {
    font-size: 20px;
  }

  .intro{
    margin-bottom:20px;
  }

  code{
    color:indianred;

    background:#CECECE;
  }

  .row {
    min-height: 20px;
    margin-top:10px;
    input {
      width: 800px;
      font-size: 20px;
      line-height: 24px;
      height: 24px;
    }
    a {
      padding-left: 20px;
    }
  }

  .actions {
    margin-top: 20px;
  }
}
